Reference*
*.dropbox
*.aux
*.log
*.lof
*.lot
*.toc
test*
*.bbl
*.bib-e
*.blg
*.out
*.xml
*.synctex.gz

#*test*
*.DS_Stores
*.DS_Store
*~
*#
*.pyc
*.npy
*.dic
*.ign
*.aff
*.bash_profile
*en_US*
*en_us*
*.mph


